* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(17, 17, 17);
}
 
/*tudo home*/
.tudo {
  background-image: url("djavan/djavan-fundo.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
} 

.cabecalho {
  text-align: right;
  padding: 20px;
  position: fixed;
  z-index: 2;
}

/*container nav e conteudo*/
.container {
  display: flex;
  flex: 1;
}

/*nav*/
.containernav {
  position: fixed;
}



.nav {
  width: 18%;
  background: rgba(41, 36, 25, 0.466);
  padding: 20px;
  height: 100vh;
  z-index: 3; 

}

.nav ul {
  list-style: none;
}

.nav li {
  margin: 15px 0;
}

.nav a {
  color:  rgb(146, 129, 90);
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  color: #ff3200;
  font-weight: bold;
  cursor: pointer;
}

/*icons nav*/
.icons img { 
  width: 30px;
  height: 30px;
  margin-left: 5px;

}

/*conteudo*/  
.containercon {
  margin-left: 18%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.conteudo {
  flex: 1;
  padding: 30px;
  background: rgb(146, 129, 90);
  margin: 20px;
  border-radius: 10px;
  height: auto;
  z-index: 9;
  position: relative;
}

/*conteudo contato e plataforma*/
.conteudop {
  flex: 1;
  padding: 30px;
  background: rgb(146, 129, 90);
  margin: 20px;
  border-radius: 10px;
  height: 93%;
  z-index: 9;
  position: relative;
}

.rodape {
  background: rgb(12, 11, 11);
  color: rgba(146, 129, 90, 0.7);
  text-align: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

h1 {
  font-size: 50px;
  color: rgb(146, 129, 90);
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

h2 {
  font-size: 40px;
  color:#ff3200;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(5, 5, 5, 0.5) ;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

h3 {
  font-size: 18px;
  color: #000000;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(5, 5, 5, 0.5) ;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

h4 {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

h5 {
  color: #ff3200;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

pre {
  white-space: pre-wrap; 
  word-wrap: break-word; 
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitulo {
  font-size: 22px;
  color:  rgb(146, 129, 90);
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

/*contatos*/
.contatos{
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.textos{
  max-width: 40%;
}

.foto img{
  width: 50%;
  height: auto;
  margin-left: 0%;
  margin-top: 10%;
  position: absolute;
  border-radius: 5%;
}

/*icons platformas*/
.redes img {
  width: 60px;
  height: 60px;
  margin: 5%;
  margin-top: 18%;
  margin-bottom: 18%;
}

/*spotify*/
iframe {
  border-radius: 12px;
  width: 100%;
  height: 152px;
  border: 0;
}

/*form*/
fieldset.grupo {
  display: flex;
  gap: 20px;
  border: none;
  padding: 0;
  margin-bottom: 15px;
}

.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 15px;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgb(14, 12, 12);
}

input, select, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ff3200;
  background: rgb(255, 254, 254);
  font-size: 14px;
  transition: 0.2s;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: rgb(17, 16, 16);
}

textarea {
  resize: none;
  width: 100%;
  height: 100px; 
  
}

button {
  width: 100%;
  padding: 14px;
  background:#ff3200;
  color:  rgb(241, 238, 238);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(102, 90, 63, 0.274);
}